<Controls>
  <Player0>
    <Keyboard_Up>W</Keyboard_Up>
    <Keyboard_Down>S</Keyboard_Down>
    <Keyboard_Left>A</Keyboard_Left>
    <Keyboard_Right>D</Keyboard_Right>
    <Keyboard_LookUp>None</Keyboard_LookUp>
    <Keyboard_LookDown>None</Keyboard_LookDown>
    <Keyboard_LookLeft>None</Keyboard_LookLeft>
    <Keyboard_LookRight>None</Keyboard_LookRight>
    <Keyboard_Throw>Mouse1</Keyboard_Throw>
    <Keyboard_Attack>Mouse0</Keyboard_Attack>
    <Keyboard_Reload>R</Keyboard_Reload>
    <Keyboard_Jump>Space</Keyboard_Jump>
    <Keyboard_Pause>Escape</Keyboard_Pause>
    <Keyboard_Accept>Return</Keyboard_Accept>
    <Keyboard_Cancel>Backspace</Keyboard_Cancel>
    <Gamepad_Up>Left Stick Up</Gamepad_Up>
    <Gamepad_Down>Left Stick Down</Gamepad_Down>
    <Gamepad_Left>Left Stick Left</Gamepad_Left>
    <Gamepad_Right>Left Stick Right</Gamepad_Right>
    <Gamepad_LookUp>Right Stick Up</Gamepad_LookUp>
    <Gamepad_LookDown>Right Stick Down</Gamepad_LookDown>
    <Gamepad_LookLeft>Right Stick Left</Gamepad_LookLeft>
    <Gamepad_LookRight>Right Stick Right</Gamepad_LookRight>
    <Gamepad_Throw>Left Trigger</Gamepad_Throw>
    <Gamepad_Attack>Right Trigger</Gamepad_Attack>
    <Gamepad_Reload>X</Gamepad_Reload>
    <Gamepad_Jump>Y</Gamepad_Jump>
    <Gamepad_Pause>Start</Gamepad_Pause>
    <Gamepad_Accept>A</Gamepad_Accept>
    <Gamepad_Cancel>B</Gamepad_Cancel>
  </Player0>
  <Player1>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_LookUp>None</Keyboard_LookUp>
    <Keyboard_LookDown>None</Keyboard_LookDown>
    <Keyboard_LookLeft>None</Keyboard_LookLeft>
    <Keyboard_LookRight>None</Keyboard_LookRight>
    <Keyboard_Throw>None</Keyboard_Throw>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_Reload>None</Keyboard_Reload>
    <Keyboard_Jump>None</Keyboard_Jump>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Gamepad_Up>
    </Gamepad_Up>
    <Gamepad_Down>
    </Gamepad_Down>
    <Gamepad_Left>
    </Gamepad_Left>
    <Gamepad_Right>
    </Gamepad_Right>
    <Gamepad_LookUp>
    </Gamepad_LookUp>
    <Gamepad_LookDown>
    </Gamepad_LookDown>
    <Gamepad_LookLeft>
    </Gamepad_LookLeft>
    <Gamepad_LookRight>
    </Gamepad_LookRight>
    <Gamepad_Throw>
    </Gamepad_Throw>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_Reload>
    </Gamepad_Reload>
    <Gamepad_Jump>
    </Gamepad_Jump>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>
    </Gamepad_Accept>
    <Gamepad_Cancel>
    </Gamepad_Cancel>
  </Player1>
  <Player2>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_LookUp>None</Keyboard_LookUp>
    <Keyboard_LookDown>None</Keyboard_LookDown>
    <Keyboard_LookLeft>None</Keyboard_LookLeft>
    <Keyboard_LookRight>None</Keyboard_LookRight>
    <Keyboard_Throw>None</Keyboard_Throw>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_Reload>None</Keyboard_Reload>
    <Keyboard_Jump>None</Keyboard_Jump>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Gamepad_Up>
    </Gamepad_Up>
    <Gamepad_Down>
    </Gamepad_Down>
    <Gamepad_Left>
    </Gamepad_Left>
    <Gamepad_Right>
    </Gamepad_Right>
    <Gamepad_LookUp>
    </Gamepad_LookUp>
    <Gamepad_LookDown>
    </Gamepad_LookDown>
    <Gamepad_LookLeft>
    </Gamepad_LookLeft>
    <Gamepad_LookRight>
    </Gamepad_LookRight>
    <Gamepad_Throw>
    </Gamepad_Throw>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_Reload>
    </Gamepad_Reload>
    <Gamepad_Jump>
    </Gamepad_Jump>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>
    </Gamepad_Accept>
    <Gamepad_Cancel>
    </Gamepad_Cancel>
  </Player2>
  <Player3>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_LookUp>None</Keyboard_LookUp>
    <Keyboard_LookDown>None</Keyboard_LookDown>
    <Keyboard_LookLeft>None</Keyboard_LookLeft>
    <Keyboard_LookRight>None</Keyboard_LookRight>
    <Keyboard_Throw>None</Keyboard_Throw>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_Reload>None</Keyboard_Reload>
    <Keyboard_Jump>None</Keyboard_Jump>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Gamepad_Up>
    </Gamepad_Up>
    <Gamepad_Down>
    </Gamepad_Down>
    <Gamepad_Left>
    </Gamepad_Left>
    <Gamepad_Right>
    </Gamepad_Right>
    <Gamepad_LookUp>
    </Gamepad_LookUp>
    <Gamepad_LookDown>
    </Gamepad_LookDown>
    <Gamepad_LookLeft>
    </Gamepad_LookLeft>
    <Gamepad_LookRight>
    </Gamepad_LookRight>
    <Gamepad_Throw>
    </Gamepad_Throw>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_Reload>
    </Gamepad_Reload>
    <Gamepad_Jump>
    </Gamepad_Jump>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>
    </Gamepad_Accept>
    <Gamepad_Cancel>
    </Gamepad_Cancel>
  </Player3>
  <Player4>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_LookUp>None</Keyboard_LookUp>
    <Keyboard_LookDown>None</Keyboard_LookDown>
    <Keyboard_LookLeft>None</Keyboard_LookLeft>
    <Keyboard_LookRight>None</Keyboard_LookRight>
    <Keyboard_Throw>None</Keyboard_Throw>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_Reload>None</Keyboard_Reload>
    <Keyboard_Jump>None</Keyboard_Jump>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Gamepad_Up>
    </Gamepad_Up>
    <Gamepad_Down>
    </Gamepad_Down>
    <Gamepad_Left>
    </Gamepad_Left>
    <Gamepad_Right>
    </Gamepad_Right>
    <Gamepad_LookUp>
    </Gamepad_LookUp>
    <Gamepad_LookDown>
    </Gamepad_LookDown>
    <Gamepad_LookLeft>
    </Gamepad_LookLeft>
    <Gamepad_LookRight>
    </Gamepad_LookRight>
    <Gamepad_Throw>
    </Gamepad_Throw>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_Reload>
    </Gamepad_Reload>
    <Gamepad_Jump>
    </Gamepad_Jump>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>
    </Gamepad_Accept>
    <Gamepad_Cancel>
    </Gamepad_Cancel>
  </Player4>
  <Player5>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_LookUp>None</Keyboard_LookUp>
    <Keyboard_LookDown>None</Keyboard_LookDown>
    <Keyboard_LookLeft>None</Keyboard_LookLeft>
    <Keyboard_LookRight>None</Keyboard_LookRight>
    <Keyboard_Throw>None</Keyboard_Throw>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_Reload>None</Keyboard_Reload>
    <Keyboard_Jump>None</Keyboard_Jump>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Gamepad_Up>
    </Gamepad_Up>
    <Gamepad_Down>
    </Gamepad_Down>
    <Gamepad_Left>
    </Gamepad_Left>
    <Gamepad_Right>
    </Gamepad_Right>
    <Gamepad_LookUp>
    </Gamepad_LookUp>
    <Gamepad_LookDown>
    </Gamepad_LookDown>
    <Gamepad_LookLeft>
    </Gamepad_LookLeft>
    <Gamepad_LookRight>
    </Gamepad_LookRight>
    <Gamepad_Throw>
    </Gamepad_Throw>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_Reload>
    </Gamepad_Reload>
    <Gamepad_Jump>
    </Gamepad_Jump>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>
    </Gamepad_Accept>
    <Gamepad_Cancel>
    </Gamepad_Cancel>
  </Player5>
  <Player6>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_LookUp>None</Keyboard_LookUp>
    <Keyboard_LookDown>None</Keyboard_LookDown>
    <Keyboard_LookLeft>None</Keyboard_LookLeft>
    <Keyboard_LookRight>None</Keyboard_LookRight>
    <Keyboard_Throw>None</Keyboard_Throw>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_Reload>None</Keyboard_Reload>
    <Keyboard_Jump>None</Keyboard_Jump>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Gamepad_Up>
    </Gamepad_Up>
    <Gamepad_Down>
    </Gamepad_Down>
    <Gamepad_Left>
    </Gamepad_Left>
    <Gamepad_Right>
    </Gamepad_Right>
    <Gamepad_LookUp>
    </Gamepad_LookUp>
    <Gamepad_LookDown>
    </Gamepad_LookDown>
    <Gamepad_LookLeft>
    </Gamepad_LookLeft>
    <Gamepad_LookRight>
    </Gamepad_LookRight>
    <Gamepad_Throw>
    </Gamepad_Throw>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_Reload>
    </Gamepad_Reload>
    <Gamepad_Jump>
    </Gamepad_Jump>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>
    </Gamepad_Accept>
    <Gamepad_Cancel>
    </Gamepad_Cancel>
  </Player6>
</Controls>